


.avatar {
	-webkit-animation: hueTate 5s ease 0s infinite alternate;
	-o-animation: hueTate 5s ease 0s infinite alternate;
	animation: hueTate 5s ease 0s infinite alternate;
}


@keyframes hueTate {
	from {
		transform: translateY(0px);
		filter: hue-rotate(360deg) drop-shadow(0 0 10px white) brightness(1.2);
	}
	to {

		transform: translateY(20px);
		filter: hue-rotate(360deg) drop-shadow(0 0 20px white) brightness(1.4);
	}
}

@keyframes hover {
	from {
	}
	to {

	}
}