/* GENERAL STYLES */

html {
	font-size: 100%;
	background: url(../img/aurora-borealis-loop3.gif), #2d2d3d;
	background-blend-mode: soft-light;
	background-size: cover;
	background-position: center;
	color: #f3f3f3;
	letter-spacing: 1.5px;
	line-height: 200%;
	overflow: hidden;
}

body {
	/*width: 100%;*/
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
	list-style: none;
	/* border: #ffba40 solid 1px; */
}

img {
	max-width: 100%;
	max-height: 100%;
}

h1,
h2,
h3 {
	font-family: 'Fredericka the Great';
	text-align: center;
}

p {
	max-width: 40em;
}

p,
input,
button {
	font-family: 'Lato';
}

.wrapper {
	height: 100vh;
	overflow-y: auto;
	overflow-x: hidden;
	/*padding-right: 1rem;*/
}

/* HEADER */

.nav {
	display: flex;
	justify-content: space-between;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 10;
	padding: 1rem 1rem 0;
	width: 100%;
	height: 3em;
	background: linear-gradient(rgba(0, 0, 10, .7) 0%, transparent);
	pointer-events: none;
}

.menu {
	display: flex;
}

#title {
	transition: .2s;
	pointer-events: all;
	cursor: pointer;
	filter: drop-shadow(0 0 10px #444);
}

.icon {
	width: 2em;
	margin: 0 .5rem 0 0;
	transition: .2s;
	pointer-events: all;
	cursor: pointer;
}

.icon svg {
	filter: drop-shadow(0 0 10px #444);
}

.icon svg path {
	fill: #f5f5f5;
}
g g:hover * {
	fill: #ccc;
	transition: .5s;
}

/* HOME PAGE */

.about {
	display: flex;
	flex-flow: column;
	padding: 6em 2em 4em;
	height: 28em;
}

.about h3 {
	/*	margin-top: 20em;
	margin-bottom: -25rem;
*/
	padding-bottom: 3em;
}

.avatar {
	max-width: 15rem;
	min-height: 15rem;
	margin: -4em 0 0 3em;
	cursor: pointer;
	transition: 1s ease;
	pointer-events: none;
	/* display: block;
    margin-left: auto;
    margin-right: auto; */
}

.gallery {
	width: 100%;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	padding: 0 1rem;
}

.SVGbox {
	/*width: 100%;*/
	/*flex-grow: 1 0 20%;*/
	max-width: 13rem;
	/*min-width: 15rem;*/
	/*height: 17em;*/
	margin: 0 0rem 6em;
	/*padding: 1rem 0;*/
	transition: .3s;
	flex-grow: 1;
}

.SVGbox:not(.activeModal):hover {
	cursor: pointer;
}

.gallery .SVGbox h2 {
	/*margin: 1rem 0 0 0rem;*/
	text-align: left;
}

.gallery .SVGbox svg {
	/*width: 15rem;*/
	height: 15rem;
	pointer-events: none;
}

.gallery .SVGbox svg * {
	cursor: pointer;
}

/* TOOL KITS */

.toolkits {
	width: 100%;
	pointer-events: none !important;
	transition: .2s;
	z-index: 6;
}

.toolkits * {
	pointer-events: all;
	width: auto;
	transition: .2s;
	z-index: 6;
}

.toolkits .colorPicker,
.toolkits #swatches,
.toolkits .toolBar  {
	transform: translateY(6em);
}

.toolBar {
	display: flex;
	flex-flow: column nowrap;
	justify-content: flex-end;
	position: fixed;
	bottom: 10em;
	left: 0;
	padding: 0 1rem;
	height: 100%;
	/*width: 4rem;*/
	min-width: 4rem;
	color: #444;
	/*font-size: 2rem;*/
	/*z-index: 30;*/
}

.colorPicker {
	width: 100%;
	height: 6em;
	background: url(../img/hsl.jpg);
	background-size: 100% 6em;
	position: fixed;
	bottom: 0;
	left: 0;
	cursor: pointer;
}

#pickerButton {
	position: absolute;
	bottom: 3em;
	left: 0;
	border: 5px solid #444;
	border-radius: 0 100% 100% 100%;
	width: 40px;
	height: 40px;
	transition: 0s;
}

#swatches {
	display: flex;
	justify-content: space-between;
	position: fixed;
	bottom: 6em;
	left: 0;
	padding: .5rem 1rem;
	border: 1px solid #444;
	width: 100%;
	cursor: pointer;
}

.swatch,
.erasor {
	height: 1.5rem;
	flex: 1 0 20%;
	width: 3rem;
	margin-right: 1rem;
	border: 1px solid #444;
	border-radius: 2px;
	transition: .2s;
	cursor: pointer;
	padding: 0;
}

.erasor {
	margin-left: 2em;
	background: url(../icon/crossout.svg);
	background-size: 3em 1.5rem;
}

#activeSwatch {
	border-color: #f5f5f5;
	background: transparent;
}

#palettes {
	display: flex;
	flex-flow: row wrap;
	width: 2rem;
	height: 2rem;
	overflow: hidden;
	background: url(../icon/palette.png);
	background-size: cover;
	cursor: pointer;
}

#palettes * {
	opacity: 0;
	pointer-events: none;
}

#palettes.open {
	overflow-x: auto;
	width: 100%;
	height: auto;
	background: transparent;
}
#palettes.open .palette {
	opacity: 1;
	pointer-events: all;
}

.palette {
	flex: 1 0 26%;
	height: 2rem;
	width: 2rem;
	background: black;
	margin-right: .5rem;
	margin-bottom: .5rem;
	border: 1px solid black;
	border-radius: 2px;
}



.palette p {
	display: none;
}

/* MODALS */

.modal {
	position: fixed;
	z-index: 7;
	top: 0;
	left: 0;
	height: 0;
	width: 0;
	transition: .3s;
	background: #2d2d3d;
	/*margin: 3em auto;*/
	overflow: hidden;
	opacity: 0;
}

.modalTitle {
	padding-bottom: 2rem;
	border-top: 1px solid #f5f5f5;
	font-size: 2rem;
	text-align: right;
	padding-right: 0.125rem;
}

.SVGbox:not(.activeModal) .modalTitle {
	position: relative;
}

/* USER SCREEN */

.userModal {
	background: url(../img/aurora-borealis-loop4.gif), #2d2d3d;
	background-blend-mode: soft-light;
	background-size: cover;
}

.innerUserModal {
	height: 100%;
	display: flex;
	flex-flow: column wrap;
	align-items: stretch;
}

.innerUserModal h2 {
	margin: auto;
}

#login_header {
	margin: 0.125rem auto;
}

.signIn {
	display: flex;
	flex-flow: column;
	width: 100%;
}

.signIn input {
	padding: .33rem;
	border: none;
	background: #f5f5f5;
	margin: 0.5rem auto;
	width: 25rem;
}

.info {
	display: flex;
	flex-flow: column;
	align-items: center;
	width: 20rem;
}

.info h2 {
	/*margin: 0 0 1rem 1rem;*/
}

.info img {
	width: 10rem;
	height: 10rem;
	border-radius: 100%;
	border: 1px solid #f5f5f5;
	margin-bottom: 1rem;
	background: rgba(0, 0, 0, .3);
	text-align: center;
	padding-top: 4.5rem;
	cursor: pointer;
}

.info button {
	margin-left: 0;
	width: 100%;
}

.infoBtn {
	padding: .5rem;
	margin: 0.5rem auto;
	background: transparent;
	border: 1px solid #f5f5f5;
	color: #f5f5f5;
	border-radius: 2px;
	transition: .1s;
	width: 25rem;
}

.infoBtn:hover {
	background: #720066;
	cursor: pointer;
}

#clearAllBtn {
	border-color: pink;
	color: pink;
}

.disabled {
	color: gray;
	border-color: gray;
	pointer-events: none;
}

/* HELP SCREEN */

#helpTitle {
	padding-top: 0.125rem;
}

.helpP {
	margin: auto;
	background-color:rgba(68,68,68,0.45);
	border: 1px solid white;
	border-radius: 2px;
	padding: .5rem;
	margin-bottom: 1rem;
}

.helpModal {
	background: url(../img/aurora-borealis-loop2.gif), #2d2d3d;
	background-blend-mode: soft-light;
	background-size: cover;
	background-position: center;
}

.accordion {
	/*cursor: pointer;*/
	margin-top: 2em;
	/* margin-left: 2em; */
}

.accordion h2 {
	padding: .5rem 0 1rem;
	/*border-top: 1px solid #f5f5f5;*/
}

.accordion {
	/* margin-left: 1rem; */
	/*height: 0;*/
	transition: .2s;
	overflow-y: hidden;
}

.accordion p i {
	color: #ffba40;
}

/* TOGGLE CLASSES */

.activeModal {
	pointer-events: all;
	overflow-y: auto;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 7;
	margin: 0 !important;
	padding: 4em 1rem 0;
	width: 100% !important;
	max-width: 100% !important;
	/*height: 100% !important;*/
	min-height: 100vh !important;
	opacity: 1 !important;
}

.hide {
	height: 0 !important;
	width: 0 !important;
	overflow: hidden !important;
	margin: 0 !important;
	padding: 0 !important;
	opacity: 0 !important;
	pointer-events: none;
}

.activeModal.SVGbox {
	background: url(../img/canvasTextureL.jpg);
	background-size: cover;
	background-position: center;
	padding: 7em 1rem 4em;
	color: #444;
	z-index: 5;
	overflow: auto !important;
}

.activeModal.SVGbox h2 {
	position: fixed;
	top: 3rem;
	left: 0;
	padding-left: 2rem;
	border-top: 1px solid #444;
	text-shadow: 0 0 10px #f5f5f5;
}

.activeModal.SVGbox p {
	position: fixed;
	top: 6rem;
	margin-left: 4rem;
	text-shadow: 0 0 10px #f5f5f5;
}

.activeModal.SVGbox svg {
	width: 100%;
	height: 100%;
	margin: 0;
	pointer-events: all;
	position: relative;
}
.activeModal .innerBox {
	width: 100%;
	height: 200vh;
	padding-bottom: 3rem;
	position: absolute;
}

.showRainbow * {
	transform: translateY(0) !important;
}

#expanded p {
	height: auto;
}

/* TABLET */

@media screen and (min-width: 34em) {
	h1,
	h3 {
		text-align: left;
	}
	.menu {
		display: flex;
		flex-flow: row;
	}
	.about {
		flex-flow: row-reverse;
		justify-content: flex-end;
	}
	.about h3 {
		margin: 5rem 0 0 4em;
		font-size: 200%;
		max-width: 40em;
	}
	.avatar {
		max-width: 20em;
		min-height: 20em;
		margin: 0em;
	}
	.activeModal {
		padding: 5rem 2em 0;
	}
	.SVGbox svg {
		filter: drop-shadow(2px 2px 5px rgba(0, 0, 0, .3));
	}
	#swatches {
		/*width: auto;*/
		justify-content: flex-start;
		padding-right: 1rem;
	}
	.innerUserModal {
		height: 25rem;
		display: flex;
		flex-flow: row wrap;
		justify-content: center;
		align-items: center;
	}
	.modalTitle {
		text-align: right;
		padding-bottom: 0;
	}
	.activeModal h2.artistTitle {
		position: fixed;
		z-index: 60;
		top: 1rem;
		left: 12rem;
		font-size: 1.5rem;
		padding-left: .5rem;
		margin: 0;
		border-left: 1px solid #444;
		border-top: 0px;
	}
	.signIn {
		display: flex;
		flex-flow: column;
		/* width: 20em; */
	}
}

/* DESKTOP */

@media screen and (min-width: 64em) {
	h1,
	h3 {
		text-align: left;
	}
	#title:hover {
		filter: drop-shadow(0 0 10px #f5f5f5);
	}
	#wrapper {
		padding-left: 20em;
	}
	.nav {
		height: 5rem;
	}
	.icon {
		width: 4em;
		margin: 0 1rem 0 0;
		transition: .2s;
		cursor: pointer;
	}
	.about {
		height: 0em;
	}
	.about h3 {
		margin: 1rem 0 0 0em;
	}
	.avatar {
		position: fixed;
		left: 0;
		max-width: 20em;
		min-height: 20em;
		margin: 0em;
	}
	.modalTitle {
		z-index: 60;
		top: 2rem;
		left: 25rem;
		font-size: 3rem;
		padding-left: 2rem;
	}
	.activeModal h2.artistTitle {
		top: 1rem;
		left: 23rem;
		font-size: 3rem;
		padding: 1rem 1rem 1rem 1.5rem;
		margin: 0;
		border-left: 1px solid #444;
	}
	.activeModal {
		padding: 7rem 2rem 0;
	}
	.activeModal.SVGbox {
		padding: 6rem 1rem 4rem;
	}
	.activeModal.SVGbox h2 {
		/*top: 4em;*/
	}
	.activeModal.SVGbox p {
		top: 8rem;
	}
	.swatch,
	.erasor {
		height: 2rem;
		width: 4.5rem;
	}
	/* HDTV */
	@media screen and (min-width: 84em) {
		html {
			font-size: 125%;
		}
	}
}