

/* GENERAL STYLES */


html {
	font-size: 100%;
	background: url(../img/aurora-borealis-loop1.gif), #2d2d3d; 
	background-blend-mode: soft-light;
	background-size: cover;
	background-position: center;
	color: #f3f3f3; 
	letter-spacing: 1.5px;
	line-height: 200%;
	overflow: hidden;
}

body {
	/*width: 100%;*/
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
	list-style: none;
}


img {
	max-width: 100%;
	max-height: 100%;
}

h1,h2,h3 {
	font-family: 'Fredericka the Great';
}

p {
	max-width: 40rem;
}
p, input, button {
	font-family: 'Lato';	
}


.wrapper {
	height: 100vh;
	overflow-y: auto;
	overflow-x: hidden;
	/*padding-right: 1rem;*/
}




/* HEADER */

.nav {
	display: flex;
	justify-content: space-between;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 10;
	padding: 1rem 1rem 0;
	width: 100%;
	height: 3rem;
	background: linear-gradient(rgba(0,0,10,.7) 0%, transparent);
	pointer-events: none;
}

.menu {
	display: flex;
}

#title {
	transition: .2s;
	pointer-events: all;
	cursor: pointer;
	filter: drop-shadow(0 0 10px black);
}

.icon {
	width: 2rem;
	margin: 0 .5rem 0 0;
	transition: .2s;
	pointer-events: all;
	cursor: pointer;
}
.icon svg {
	filter: drop-shadow(0 0 10px black);
}

.icon svg path {
	fill: #f5f5f5;
}




/* HOME PAGE */

.about {
	display: flex;
	flex-flow: column;
	padding: 6rem 2rem 4rem;
	height: 35rem;
}

.about h3 {
/*	margin-top: 20rem;
	margin-bottom: -25rem;
*/}

.avatar {
	max-width: 20rem;
	min-height: 20rem;
	transition: 1s ease;
	transform: translateX(-4rem);
	/*cursor: pointer;*/
	pointer-events: none;
}



.gallery {
	width: 100%;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	padding: 0 1rem;
}

.SVGbox {
	/*width: 100%;*/
	/*flex-grow: 1 0 20%;*/
	max-width: 30%;
	min-width: 15rem;
	height: 17rem;
	background: url(../img/canvasTextureL.jpg);
	/*background-blend-mode: hard-light;*/
	background-size: cover;
	background-position: center;
	margin: 0 1rem 6rem;
	padding: 1rem 0;
	transition: .3s;
	flex-grow: 1;
}

.SVGbox:not(.activeModal):hover {
	cursor: pointer;
}


.gallery .SVGbox h2 {
	margin: 1rem 0 0 1rem;
}

.gallery .SVGbox svg {
	width: 15rem;
	height: 15rem;
	pointer-events: none;

}
.gallery .SVGbox svg * {
	cursor: pointer;
}


/* TOOL KITS */

.toolkits,
.toolkits *
 {
	transition: .2s;
	z-index: 6;
}

.toolkits .colorPicker,
.toolkits #swatches,
.toolkits #changeScale
 {
	transform: translateY(6rem);
}

.colorPicker {
	width: 100%;
	height: 6rem;
	background: url(../img/hsl.jpg);
	background-size: 100% 6rem;
	position: fixed;
	bottom: 0;
	left: 0;
	cursor: pointer;

}

#pickerButton {
	position: absolute;
	bottom: 3rem;
	left: 0;
	border: 5px solid black;
	border-radius: 0 100% 100% 100%;
	width: 40px;
	height: 40px;
	transition: 0s;
}

#swatches {
	display: flex;
	justify-content: space-between;
	position: fixed;
	bottom: 6rem;
	left: 0;
	padding: .5rem 1rem;
	border: 1px solid black;
	width: 100%;
	cursor: pointer; 
}

.swatch, .erasor {
	height: 1.5rem;
	flex: 1 0 30%;
	width: 3rem;
	margin-right: 1rem;
	border: 1px solid black;
	border-radius: 2px;
	transition: .2s;
	cursor: pointer;
	padding: 0;
}

.erasor {
	margin-left: 2rem;
	background: url(../icon/crossout.svg);
	background-size:  3rem 1.5rem;
}

#activeSwatch {
	border-color: white;
	background: transparent;
}

#changeScale {
	position: fixed;
	bottom: 10rem;
	left: 2rem;
	height: 2rem;
	width: 10rem;
	background: black;
	padding: .5rem;
}


/* MODALS */

.modal {
	position: fixed;
	z-index: 7;
	top: 0;
	left: 0;
	height: 0;
	width: 0;
	transition: .3s;
	background: #2d2d3d;
	/*margin: 3rem auto;*/
	overflow: hidden;
	opacity: 0;
}


.modalTitle {
	padding-left: 1rem;
	padding-top: 1rem;
	/*padding-bottom: 2rem;*/
	border-top: 1px solid white;
	font-size: 2rem;
}

.SVGbox:not(.activeModal) .modalTitle {
	position: relative;
}



/* USER SCREEN */


.userModal {
	background: url(../img/aurora-borealis-loop4.gif), #2d2d3d; 
	background-blend-mode: soft-light;
	background-size: cover;
}

.innerUserModal {
	display: flex;
	flex-flow: column wrap;
	align-items: stretch;
}

.innerUserModal h2 {
	margin: 1rem 0;
}

.signIn {
	display: flex;
	flex-flow: column;
	width: 100%;
	padding-left: 2rem;
}

.signIn input {
	margin: 0 0 1rem 1rem;
	padding: .33rem;
	border: none;
	background: #f5f5f5;
}

.info {
	display: flex;
	flex-flow: column;
	align-items: center;
	width: 20rem;
}

.info h2 {
	/*margin: 0 0 1rem 1rem;*/
}

.info img {
	width: 10rem;
	height: 10rem;
	border-radius: 100%;
	border: 1px solid white;
	margin-bottom: 1rem;
	background: rgba(0,0,0,.3);
	text-align: center;
	padding-top: 4.5rem;
	cursor: pointer;
}



.info button {
	margin-left: 0;
	width: 100%;
}

.infoBtn {
	padding: .5rem;
	margin: 0 0 1rem 2rem;
	background: transparent;
	border: 1px solid white;
	color: white;
	border-radius: 2px;
	transition: .1s;
}

.infoBtn:hover {
	background: #720066;
	cursor: pointer;
}

#clearAllBtn {
	border-color: pink;
	color: pink;
}

.disabled {
	color: gray;
	border-color: gray;
	pointer-events: none;
}

/* HELP SCREEN */

.helpModal {
	background: url(../img/aurora-borealis-loop2.gif), #2d2d3d; 
	background-blend-mode: soft-light;
	background-size: cover;
	background-position: center;
}

.accordion {
	cursor: pointer;
	margin-bottom: 2rem;
	margin-left: 2rem;
}

.accordion h2 {
	padding: .5rem 0 1rem;
	/*border-top: 1px solid white;*/
}

.accordion p {
	margin-left: 1rem;
	height: 0;
	transition: .2s;
	overflow-y: hidden;
}




/* TOGGLE CLASSES */

.activeModal {
	pointer-events: all;
	overflow-y: auto;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 7;
	margin: 0 !important;
	padding: 4rem 1rem 0;
	width: 100% !important;
	max-width: 100% !important;
	/*height: 100% !important;*/
	min-height: 100vh !important;
	opacity: 1 !important;
}


.hide {
	height: 0 !important;
	width: 0 !important;
	overflow: hidden !important;
	margin: 0 !important;
	padding: 0 !important;
	opacity: 0 !important;
	pointer-events: none;
}


.activeModal.SVGbox {
	padding: 7rem 1rem 4rem;
	color: black;
	z-index: 5;
}

.activeModal.SVGbox h2 {
	position: fixed;
	top: 3rem;
	left: 0;
	padding-left: 2rem;
	border-top: 1px solid black;
	text-shadow: 0 0 10px white;
}

.activeModal.SVGbox p {
	position: fixed;
	top: 6rem;
	margin-left: 4rem;
	text-shadow: 0 0 10px white;
}

.activeModal.SVGbox svg {
	width: 100%;
	height: 100%;
	margin: 0;
	pointer-events: all;
}


.showRainbow * {
	transform: translateY(0) !important;
}


#expanded p {
	height: auto;
}


/* TABLET */

@media screen and (min-width: 34rem) {
	

.menu {
	display: flex;
	flex-flow: row;
}

.about {
	flex-flow: row-reverse;
	justify-content: flex-end;
}


.about h3 {
	margin-top: 5rem;
	margin-bottom: 0;
	font-size: 200%;
	max-width: 40rem;
}

.activeModal {
	padding: 5rem 2rem 0;
}

.SVGbox svg {
	filter: drop-shadow(2px 2px 5px rgba(0,0,0,.3));

}

#swatches {
	width: auto;
	justify-content: flex-start;
	padding-right: 1rem;
}

.innerUserModal {
	height: 100%;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: center;
}

.modalTitle  {
	position: fixed;
	z-index: 60;
	top: 1rem;
	left: 13rem;
	font-size: 2rem;
	padding-left: 1rem;
	padding-bottom: 1rem;
	padding-top: 0rem;
	margin: 0;
	border-left: 1px solid white;
	border-bottom: 0px;
	border-top: 0px;
}

.activeModal h2.artistTitle {
	position: fixed;
	z-index: 60;
	top: 1rem;
	left: 12rem;
	font-size: 1.5rem;
	padding-left: .5rem;
	margin: 0;
	border-left: 1px solid black;	
	border-top: 0px;
}


.signIn {
	display: flex;
	flex-flow: column;
	width: 20rem;
}


}

/* DESKTOP */


@media screen and (min-width: 64rem) {

#title:hover {
	filter: drop-shadow(0 0 10px white);
}

#wrapper {
	padding-left: 20rem;
}

.nav {
	height: 5rem;
}
.icon {
	width: 4rem;
	margin: 0 1rem 0 0;
	transition: .2s;
	cursor: pointer;
}

.about {
	height: 50%;
}

.avatar {
	position: fixed;
	left: 0;
	transform: translateX(0rem);
}

.modalTitle {
	position: fixed;
	z-index: 60;
	top: 2rem;
	left: 25rem;
	font-size: 3rem;
	padding-left: 2rem;
	border-left: 1px solid white;
}

.activeModal h2.artistTitle {
	top: 1rem;
	left: 23rem;
	font-size: 3rem;
	padding: 1rem 1rem 1rem 1.5rem;
	margin: 0;
	border-left: 1px solid black;	
}


.activeModal {
	padding: 7rem 2rem 0;
}

.activeModal.SVGbox {
	padding: 6rem 1rem 4rem;
}

.activeModal.SVGbox h2 {
	/*top: 4rem;*/
}

.activeModal.SVGbox p {
	top: 8rem;
}

.swatch, .erasor {
	height: 2rem;
	width: 4.5rem;


}


/* HDTV */


@media screen and (min-width: 84rem) {
	html {
		font-size: 125%;
	}
}