/* BODY ALIGNMENT OF ELEMENTS */
body{
    max-width: 1000px;
    padding: 0 1.5rem; 
}
head{
    width:100vw;
}
#logo{
    width: 100%;
}

/* -------------COLORS--------- */
/* Color hex */
#yellow{
    background-color: #E7E257;
}
#orange{
    background-color: #EBBD63;
}
#red{
    background-color: #DE7F5B;
}
#purple{
    background-color: #BDB4F5;
}
#blue{
     background-color: #74D8EB;
}
#green{
     background-color: #ACCB58;
}
/* alignment only*/
#colorsDiv{
    display: flex;
    flex-flow: row wrap;
}
.colorSwatch{
    width: 100px;
    height: 100px;
    padding: 1rem;
    border-radius: 100%;
    margin: 1rem;
}
hr{
    color: #EBBD63;
}
/* ------END OF COLORS------ */


/* -------TYPOGRAPHY----- */
/* Display Font: */
h1{
    font-family: 'Fredericka the Great', cursive;
}
/* Body Font: */
p, li, button{
    font-family: 'Lato', sans-serif;
}
/* alignemnt only */
#titleStyle{
    font-size: 2rem;
}
p{
    max-width: 1000px;
}
/* ------END OF TYPOGRAPHY----- */


/* ---------BUTTONS--------- */
button{
    background-color: #74D8EB;
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 1.5rem;
}
button:hover{
    background-color: #BDB4F5;
    font-weight: bold;
}
/* ---------END OF BUTTONS--------- */